@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&family=Oswald:wght@700&display=swap');

:root {
    --bg: white;
    --bg-text: black;
    --bg-link: teal;
    --card: rgba(255, 255, 255, 0.685);
    --card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "IBM Plex Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

#container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 4rem;
}

body {
    background-color: var(--bg);
    color: var(--bg-text);
}

a {
    color: var(--bg-link);
}

.oswald {
    font-family: "Oswald", sans-serif;
}

.title{
   font-size: 3.5rem;
}

.title-list {
    list-style: none;
    padding: 0;
}

.title-list a {
    font-weight: bold;
    text-decoration: none;
}

.selected {
    text-decoration: underline !important;
}

.title-list li {
    display: inline-block;
}

.title-list li::after {
    content: " /";
}

.title-list li:last-child::after {
    content: "";
}

.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

section {
    margin-top: 1rem;
}

section ul {
    margin-top: 0.5rem;
}

@media only screen and (min-width: 400px) {
    .title{
       font-size: 4rem;
    }
}

@media only screen and (min-width: 600px) {
    .title {
        font-size: 6rem;
    }

    .title-container {
        margin-bottom: 2rem;
    }
}

@media (prefers-color-scheme: dark) { 
    :root {
        --bg: black;
        --bg-text: white;
        --bg-link: cyan;
        --card: rgb(27, 27, 27);
        --card-shadow: 0;
    }

    .title-list {
        font-size: large;
    }
}