.project {
    border-radius: 0.3rem;
    background-color: var(--card);
    box-shadow: var(--card-shadow);
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-body {
    padding: 0.5rem;
}

.project-footer {
    padding: 0em 0.5em 0.5em 0.5rem;
}

.project-footer ul {
    list-style-type: none;
    padding: 0;
}

.project-footer li {
    display: inline-block;
    padding-right: 0.25rem;
}

.project-footer li:last-child {
    padding-right: 0;
}

.project-footer svg path {
    fill: var(--bg-text);
}