.infobox {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(128, 0, 128, 0.233);
    border: 2px solid var(--primary);
    border-radius: 0.4rem;
}

.contact-pill {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--surface);
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.contact-pill > .icon {
    background-color: var(--surface);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    width: 30%;
}