@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: white;
    --bg-text: black;
    --bg-link: teal;
    --card: rgba(255, 255, 255, 0.685);
    --card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "IBM Plex Sans", sans-serif;
}

@media (prefers-color-scheme: dark) { 
    :root {
        --bg: black;
        --bg-text: white;
        --bg-link: cyan;
        --card: rgb(27, 27, 27);
        --card-shadow: 0;
    }

    .title-list {
        font-size: large;
    }
}



body {
    background-color: var(--bg);
    color: var(--bg-text);
}

section {
    margin-bottom: 1rem;
}

#container {
    min-height: 70vh;
    margin: auto;
    padding: 1rem;
}

@media only screen and (min-width: 600px) {
    #container {
        min-height: 88vh;
        margin: auto;
        width: 55%;
    }
}

#footer {
    display: flex;
    gap: 30%;
    justify-content: center;
    min-height: 10vh;
    background-color: var(--card);
    border: var(--card-shadow);
    padding: 0.5rem;
}