:root {
    --prog-outer: rgb(59, 59, 59);
    --prog-inner: blue;
}

video {
    width: 100%;
}

#prog-outer {
    width: 100%;
    height: 1rem;
    background-color: var(--prog-outer);
}

#prog-inner {
    transition: .5s;
    height: 100%;
    width: 0;
    background-color: var(--prog-inner);
}

#prog-inner.done {
    background-color: green;
}

button {
    padding: 0.5rem;
    border-radius: 0.7rem;
    border-color: transparent;
    margin-top: 0.75rem;
    margin-right: 0.4rem;
}

button:hover {
    cursor: pointer;
    filter: hue-rotate(-30deg);
    transform: scale(1.1);
}

.download {
    background-color: green;
}

.delete {
    background-color: red;
}
