.project-listing {
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-name {
    display: inline-flex;
    gap: 0.5rem;
}

.project-expand {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
}

.project-title-big {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-title-big > svg {
    height: 100%;
    width: auto;
    height: 3rem;
}