.project-listing {
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-header a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

.project-header.scroll a {
    position: fixed;
    background-color: var(--primary);
    padding: 0.25rem;
}

.project-name {
    display: inline-flex;
    gap: 0.5rem;
}

.project-expand {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
}

.project-title-big {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-title-big > svg {
    height: 100%;
    width: auto;
    height: 3rem;
}

.project-buttons {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.project-tags {
    display: flex;
    gap: 0.4rem;
    margin-top: 1rem;
}

.project-tags > .tag {
    background-color: var(--surface);
    padding: 0.2rem;
    min-width: 2rem;
    text-align: center;
    border-radius: 0.3rem;
}

section {
    margin-bottom: 1rem;
}