.project_page {
    max-width: 1000px;
}

.listing {
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.project_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project_header a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

.project_header.scroll a {
    position: fixed;
    background-color: var(--primary);
    padding: 0.25rem;
}

.name {
    display: inline-flex;
    gap: 0.5rem;
}

.expand {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
}

.title_big {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title_big .svg {
    height: 100%;
    width: auto;
    height: 3rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.tags {
    display: flex;
    gap: 0.4rem;
    margin-top: 1rem;
}

.tags > .tag {
    background-color: var(--surface);
    padding: 0.2rem;
    min-width: 2rem;
    text-align: center;
    border-radius: 0.3rem;
}

.project_page section {
    margin-bottom: 1rem;
}